table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding-right: 5rem;
}
th {
    background-color: #3580a3;
}
::placeholder {
    color: #cfcfcf;
}
label, p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;

}
button {
    background-color: #3580a3;
    color: #fff;
    padding: 0.6rem 0.8rem;
    border-radius: 1rem;
    cursor: pointer;
}
